## <div align="center"> TUGAS LAB IF540 MACHINE LEARNING </div>
### <div align="center"> WEEK [02] : [Data Preprocessing] </div>

#### <div align="center"> Semester Ganjil 2022/2023 </div>

In [2]:
import datetime
import uuid    

# Fill in your name and NIM
myName = "Fernando Khorasani"
myNIM = "43088"

myDate = datetime.datetime.now()
myDevice = str(uuid.uuid1())

# Header
print("Name: \t\t{}".format(myName))
print("NIM: \t\t{}".format(myNIM))
print("Start: \t\t{}".format(myDate))
print("Device ID: \t{}".format(myDevice))

Name: 		Fernando Khorasani
NIM: 		43088
Start: 		2022-09-07 14:29:26.054923
Device ID: 	cd20306e-2e7e-11ed-86f6-5405db3707d4


---

### Dataset yang dipakai:

1. Earthquake – sumber : https://www.kaggle.com/datasets/farazrahman/earthquake
2. USA_cars_datasets – sumber : https://www.kaggle.com/datasets/doaaalsenani/usa-cers-dataset
3. Iris Flower Dataset = sumber : https://www.kaggle.com/datasets/arshid/iris-flower-dataset

### Hasil kerja

In [3]:
# Your codes are here (replace the following codes)
from IPython.display import Image
%matplotlib inline

In [4]:

import pandas as pd
from io import StringIO
import sys

df = pd.read_csv("Earthquake.csv")
df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-08-31T01:56:03.280Z,33.319167,-116.343667,9.64,1.37,ml,45.0,36.0,0.051670,0.24,...,2022-08-31T02:06:28.290Z,"8km NNE of Borrego Springs, CA",earthquake,0.27,0.57,0.140000,27.0,automatic,ci,ci
1,2022-08-31T01:47:49.260Z,33.041000,-116.402833,11.60,0.81,ml,20.0,73.0,0.120000,0.20,...,2022-08-31T01:51:18.828Z,"19km ESE of Julian, CA",earthquake,0.39,1.23,0.069000,10.0,automatic,ci,ci
2,2022-08-31T01:45:30.960Z,33.317000,-116.747000,14.06,0.56,ml,13.0,108.0,0.081400,0.12,...,2022-08-31T01:49:09.567Z,"8km N of Lake Henshaw, CA",earthquake,0.40,0.81,0.099000,8.0,automatic,ci,ci
3,2022-08-31T01:34:31.240Z,38.792999,-122.767830,2.35,0.84,md,15.0,86.0,0.009911,0.03,...,2022-08-31T02:05:15.944Z,"2km NNW of The Geysers, CA",earthquake,0.29,0.61,0.200000,3.0,automatic,nc,nc
4,2022-08-31T01:32:13.230Z,38.792499,-122.768501,2.37,0.79,md,20.0,75.0,0.010630,0.03,...,2022-08-31T01:54:13.870Z,"2km NNW of The Geysers, CA",earthquake,0.26,0.48,0.240000,4.0,automatic,nc,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9437,2022-08-01T02:18:40.130Z,33.797833,-116.124833,0.41,1.27,ml,12.0,92.0,0.080520,0.23,...,2022-08-02T17:06:34.975Z,"12km NE of Indio, CA",earthquake,0.41,0.77,0.072000,6.0,reviewed,ci,ci
9438,2022-08-01T02:18:29.010Z,33.794500,-116.120833,1.46,1.48,ml,47.0,76.0,0.083880,0.15,...,2022-08-02T16:55:35.289Z,"12km NE of Indio, CA",earthquake,0.16,0.30,0.119000,26.0,reviewed,ci,ci
9439,2022-08-01T02:14:31.758Z,61.236600,-147.643100,32.20,1.30,ml,NaN,NaN,NaN,0.53,...,2022-08-01T02:20:57.929Z,"63 km S of Glacier View, Alaska",earthquake,NaN,0.40,NaN,NaN,automatic,ak,ak
9440,2022-08-01T02:14:25.320Z,33.579500,-116.806667,8.38,0.41,ml,27.0,64.0,0.038250,0.17,...,2022-08-01T14:17:06.336Z,"13km WNW of Anza, CA",earthquake,0.22,0.51,0.052000,7.0,reviewed,ci,ci
9441,2022-08-01T02:11:49.020Z,45.368167,-121.805333,5.89,0.74,ml,7.0,187.0,0.044930,0.05,...,2022-08-01T22:56:47.290Z,"8 km NNW of Government Camp, Oregon",earthquake,0.37,0.85,0.217833,5.0,reviewed,uw,uw

In [5]:
df.values

array([['2022-08-31T01:56:03.280Z', 33.3191667, -116.3436667, ...,
        'automatic', 'ci', 'ci'],
       ['2022-08-31T01:47:49.260Z', 33.041, -116.4028333, ...,
        'automatic', 'ci', 'ci'],
       ['2022-08-31T01:45:30.960Z', 33.317, -116.747, ..., 'automatic',
        'ci', 'ci'],
       ...,
       ['2022-08-01T02:14:31.758Z', 61.2366, -147.6431, ..., 'automatic',
        'ak', 'ak'],
       ['2022-08-01T02:14:25.320Z', 33.5795, -116.8066667, ...,
        'reviewed', 'ci', 'ci'],
       ['2022-08-01T02:11:49.020Z', 45.36816666666667,
        -121.80533333333334, ..., 'reviewed', 'uw', 'uw']], dtype=object)

In [6]:
# remove rows that contain missing values
df.dropna(axis=0)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-08-31T01:56:03.280Z,33.319167,-116.343667,9.64,1.37,ml,45.0,36.0,0.051670,0.24,...,2022-08-31T02:06:28.290Z,"8km NNE of Borrego Springs, CA",earthquake,0.27,0.57,0.140000,27.0,automatic,ci,ci
1,2022-08-31T01:47:49.260Z,33.041000,-116.402833,11.60,0.81,ml,20.0,73.0,0.120000,0.20,...,2022-08-31T01:51:18.828Z,"19km ESE of Julian, CA",earthquake,0.39,1.23,0.069000,10.0,automatic,ci,ci
2,2022-08-31T01:45:30.960Z,33.317000,-116.747000,14.06,0.56,ml,13.0,108.0,0.081400,0.12,...,2022-08-31T01:49:09.567Z,"8km N of Lake Henshaw, CA",earthquake,0.40,0.81,0.099000,8.0,automatic,ci,ci
3,2022-08-31T01:34:31.240Z,38.792999,-122.767830,2.35,0.84,md,15.0,86.0,0.009911,0.03,...,2022-08-31T02:05:15.944Z,"2km NNW of The Geysers, CA",earthquake,0.29,0.61,0.200000,3.0,automatic,nc,nc
4,2022-08-31T01:32:13.230Z,38.792499,-122.768501,2.37,0.79,md,20.0,75.0,0.010630,0.03,...,2022-08-31T01:54:13.870Z,"2km NNW of The Geysers, CA",earthquake,0.26,0.48,0.240000,4.0,automatic,nc,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9436,2022-08-01T02:21:26.510Z,38.837666,-122.783501,0.93,0.86,md,19.0,76.0,0.005396,0.04,...,2022-08-01T04:22:10.489Z,"6km WNW of Cobb, CA",earthquake,0.22,0.38,0.060000,3.0,automatic,nc,nc
9437,2022-08-01T02:18:40.130Z,33.797833,-116.124833,0.41,1.27,ml,12.0,92.0,0.080520,0.23,...,2022-08-02T17:06:34.975Z,"12km NE of Indio, CA",earthquake,0.41,0.77,0.072000,6.0,reviewed,ci,ci
9438,2022-08-01T02:18:29.010Z,33.794500,-116.120833,1.46,1.48,ml,47.0,76.0,0.083880,0.15,...,2022-08-02T16:55:35.289Z,"12km NE of Indio, CA",earthquake,0.16,0.30,0.119000,26.0,reviewed,ci,ci
9440,2022-08-01T02:14:25.320Z,33.579500,-116.806667,8.38,0.41,ml,27.0,64.0,0.038250,0.17,...,2022-08-01T14:17:06.336Z,"13km WNW of Anza, CA",earthquake,0.22,0.51,0.052000,7.0,reviewed,ci,ci
9441,2022-08-01T02:11:49.020Z,45.368167,-121.805333,5.89,0.74,ml,7.0,187.0,0.044930,0.05,...,2022-08-01T22:56:47.290Z,"8 km NNW of Government Camp, Oregon",earthquake,0.37,0.85,0.217833,5.0,reviewed,uw,uw

In [7]:
df.isnull().sum()

time                  0
latitude              0
longitude             0
depth                 0
mag                   0
magType               0
nst                1309
gap                1309
dmin               3079
rms                   0
net                   0
id                    0
updated               0
place                 0
type                  0
horizontalError    2352
depthError            0
magError           1591
magNst             1311
status                0
locationSource        0
magSource             0
dtype: int64

In [8]:
df.dropna(axis=1)

,time,latitude,longitude,depth,mag,magType,rms,net,id,updated,place,type,depthError,status,locationSource,magSource
0,2022-08-31T01:56:03.280Z,33.319167,-116.343667,9.64,1.37,ml,0.24,ci,ci40334856,2022-08-31T02:06:28.290Z,"8km NNE of Borrego Springs, CA",earthquake,0.57,automatic,ci,ci
1,2022-08-31T01:47:49.260Z,33.041000,-116.402833,11.60,0.81,ml,0.20,ci,ci40334848,2022-08-31T01:51:18.828Z,"19km ESE of Julian, CA",earthquake,1.23,automatic,ci,ci
2,2022-08-31T01:45:30.960Z,33.317000,-116.747000,14.06,0.56,ml,0.12,ci,ci40334840,2022-08-31T01:49:09.567Z,"8km N of Lake Henshaw, CA",earthquake,0.81,automatic,ci,ci
3,2022-08-31T01:34:31.240Z,38.792999,-122.767830,2.35,0.84,md,0.03,nc,nc73773695,2022-08-31T02:05:15.944Z,"2km NNW of The Geysers, CA",earthquake,0.61,automatic,nc,nc
4,2022-08-31T01:32:13.230Z,38.792499,-122.768501,2.37,0.79,md,0.03,nc,nc73773690,2022-08-31T01:54:13.870Z,"2km NNW of The Geysers, CA",earthquake,0.48,automatic,nc,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9437,2022-08-01T02:18:40.130Z,33.797833,-116.124833,0.41,1.27,ml,0.23,ci,ci37434212,2022-08-02T17:06:34.975Z,"12km NE of Indio, CA",earthquake,0.77,reviewed,ci,ci
9438,2022-08-01T02:18:29.010Z,33.794500,-116.120833,1.46,1.48,ml,0.15,ci,ci40073247,2022-08-02T16:55:35.289Z,"12km NE of Indio, CA",earthquake,0.30,reviewed,ci,ci
9439,2022-08-01T02:14:31.758Z,61.236600,-147.643100,32.20,1.30,ml,0.53,ak,ak0229saquvb,2022-08-01T02:20:57.929Z,"63 km S of Glacier View, Alaska",earthquake,0.40,automatic,ak,ak
9440,2022-08-01T02:14:25.320Z,33.579500,-116.806667,8.38,0.41,ml,0.17,ci,ci40073239,2022-08-01T14:17:06.336Z,"13km WNW of Anza, CA",earthquake,0.51,reviewed,ci,ci
9441,2022-08-01T02:11:49.020Z,45.368167,-121.805333,5.89,0.74,ml,0.05,uw,uw61868056,2022-08-01T22:56:47.290Z,"8 km NNW of Government Camp, Oregon",earthquake,0.85,reviewed,uw,uw

In [9]:

df.dropna(thresh=10)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-08-31T01:56:03.280Z,33.319167,-116.343667,9.64,1.37,ml,45.0,36.0,0.051670,0.24,...,2022-08-31T02:06:28.290Z,"8km NNE of Borrego Springs, CA",earthquake,0.27,0.57,0.140000,27.0,automatic,ci,ci
1,2022-08-31T01:47:49.260Z,33.041000,-116.402833,11.60,0.81,ml,20.0,73.0,0.120000,0.20,...,2022-08-31T01:51:18.828Z,"19km ESE of Julian, CA",earthquake,0.39,1.23,0.069000,10.0,automatic,ci,ci
2,2022-08-31T01:45:30.960Z,33.317000,-116.747000,14.06,0.56,ml,13.0,108.0,0.081400,0.12,...,2022-08-31T01:49:09.567Z,"8km N of Lake Henshaw, CA",earthquake,0.40,0.81,0.099000,8.0,automatic,ci,ci
3,2022-08-31T01:34:31.240Z,38.792999,-122.767830,2.35,0.84,md,15.0,86.0,0.009911,0.03,...,2022-08-31T02:05:15.944Z,"2km NNW of The Geysers, CA",earthquake,0.29,0.61,0.200000,3.0,automatic,nc,nc
4,2022-08-31T01:32:13.230Z,38.792499,-122.768501,2.37,0.79,md,20.0,75.0,0.010630,0.03,...,2022-08-31T01:54:13.870Z,"2km NNW of The Geysers, CA",earthquake,0.26,0.48,0.240000,4.0,automatic,nc,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9437,2022-08-01T02:18:40.130Z,33.797833,-116.124833,0.41,1.27,ml,12.0,92.0,0.080520,0.23,...,2022-08-02T17:06:34.975Z,"12km NE of Indio, CA",earthquake,0.41,0.77,0.072000,6.0,reviewed,ci,ci
9438,2022-08-01T02:18:29.010Z,33.794500,-116.120833,1.46,1.48,ml,47.0,76.0,0.083880,0.15,...,2022-08-02T16:55:35.289Z,"12km NE of Indio, CA",earthquake,0.16,0.30,0.119000,26.0,reviewed,ci,ci
9439,2022-08-01T02:14:31.758Z,61.236600,-147.643100,32.20,1.30,ml,NaN,NaN,NaN,0.53,...,2022-08-01T02:20:57.929Z,"63 km S of Glacier View, Alaska",earthquake,NaN,0.40,NaN,NaN,automatic,ak,ak
9440,2022-08-01T02:14:25.320Z,33.579500,-116.806667,8.38,0.41,ml,27.0,64.0,0.038250,0.17,...,2022-08-01T14:17:06.336Z,"13km WNW of Anza, CA",earthquake,0.22,0.51,0.052000,7.0,reviewed,ci,ci
9441,2022-08-01T02:11:49.020Z,45.368167,-121.805333,5.89,0.74,ml,7.0,187.0,0.044930,0.05,...,2022-08-01T22:56:47.290Z,"8 km NNW of Government Camp, Oregon",earthquake,0.37,0.85,0.217833,5.0,reviewed,uw,uw

In [10]:

df.dropna(subset=['dmin'])

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-08-31T01:56:03.280Z,33.319167,-116.343667,9.64,1.37,ml,45.0,36.0,0.051670,0.24,...,2022-08-31T02:06:28.290Z,"8km NNE of Borrego Springs, CA",earthquake,0.27,0.57,0.140000,27.0,automatic,ci,ci
1,2022-08-31T01:47:49.260Z,33.041000,-116.402833,11.60,0.81,ml,20.0,73.0,0.120000,0.20,...,2022-08-31T01:51:18.828Z,"19km ESE of Julian, CA",earthquake,0.39,1.23,0.069000,10.0,automatic,ci,ci
2,2022-08-31T01:45:30.960Z,33.317000,-116.747000,14.06,0.56,ml,13.0,108.0,0.081400,0.12,...,2022-08-31T01:49:09.567Z,"8km N of Lake Henshaw, CA",earthquake,0.40,0.81,0.099000,8.0,automatic,ci,ci
3,2022-08-31T01:34:31.240Z,38.792999,-122.767830,2.35,0.84,md,15.0,86.0,0.009911,0.03,...,2022-08-31T02:05:15.944Z,"2km NNW of The Geysers, CA",earthquake,0.29,0.61,0.200000,3.0,automatic,nc,nc
4,2022-08-31T01:32:13.230Z,38.792499,-122.768501,2.37,0.79,md,20.0,75.0,0.010630,0.03,...,2022-08-31T01:54:13.870Z,"2km NNW of The Geysers, CA",earthquake,0.26,0.48,0.240000,4.0,automatic,nc,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9436,2022-08-01T02:21:26.510Z,38.837666,-122.783501,0.93,0.86,md,19.0,76.0,0.005396,0.04,...,2022-08-01T04:22:10.489Z,"6km WNW of Cobb, CA",earthquake,0.22,0.38,0.060000,3.0,automatic,nc,nc
9437,2022-08-01T02:18:40.130Z,33.797833,-116.124833,0.41,1.27,ml,12.0,92.0,0.080520,0.23,...,2022-08-02T17:06:34.975Z,"12km NE of Indio, CA",earthquake,0.41,0.77,0.072000,6.0,reviewed,ci,ci
9438,2022-08-01T02:18:29.010Z,33.794500,-116.120833,1.46,1.48,ml,47.0,76.0,0.083880,0.15,...,2022-08-02T16:55:35.289Z,"12km NE of Indio, CA",earthquake,0.16,0.30,0.119000,26.0,reviewed,ci,ci
9440,2022-08-01T02:14:25.320Z,33.579500,-116.806667,8.38,0.41,ml,27.0,64.0,0.038250,0.17,...,2022-08-01T14:17:06.336Z,"13km WNW of Anza, CA",earthquake,0.22,0.51,0.052000,7.0,reviewed,ci,ci
9441,2022-08-01T02:11:49.020Z,45.368167,-121.805333,5.89,0.74,ml,7.0,187.0,0.044930,0.05,...,2022-08-01T22:56:47.290Z,"8 km NNW of Government Camp, Oregon",earthquake,0.37,0.85,0.217833,5.0,reviewed,uw,uw

In [11]:
df.values

array([['2022-08-31T01:56:03.280Z', 33.3191667, -116.3436667, ...,
        'automatic', 'ci', 'ci'],
       ['2022-08-31T01:47:49.260Z', 33.041, -116.4028333, ...,
        'automatic', 'ci', 'ci'],
       ['2022-08-31T01:45:30.960Z', 33.317, -116.747, ..., 'automatic',
        'ci', 'ci'],
       ...,
       ['2022-08-01T02:14:31.758Z', 61.2366, -147.6431, ..., 'automatic',
        'ak', 'ak'],
       ['2022-08-01T02:14:25.320Z', 33.5795, -116.8066667, ...,
        'reviewed', 'ci', 'ci'],
       ['2022-08-01T02:11:49.020Z', 45.36816666666667,
        -121.80533333333334, ..., 'reviewed', 'uw', 'uw']], dtype=object)

In [12]:


from sklearn.impute import SimpleImputer
import numpy as np

imr = SimpleImputer(missing_values=np.nan, strategy='mean')
imr = imr.fit(df.drop(columns=['time','magType','net', 'id', 'updated', 'place', 'type', 'status', 'locationSource','magSource']).values)
imputed_data = imr.transform(df.drop(columns=['time','magType','net', 'id', 'updated', 'place', 'type', 'status', 'locationSource','magSource']).values)
imputed_data

array([[ 3.33191667e+01, -1.16343667e+02,  9.64000000e+00, ...,
         5.70000000e-01,  1.40000000e-01,  2.70000000e+01],
       [ 3.30410000e+01, -1.16402833e+02,  1.16000000e+01, ...,
         1.23000000e+00,  6.90000000e-02,  1.00000000e+01],
       [ 3.33170000e+01, -1.16747000e+02,  1.40600000e+01, ...,
         8.10000000e-01,  9.90000000e-02,  8.00000000e+00],
       ...,
       [ 6.12366000e+01, -1.47643100e+02,  3.22000000e+01, ...,
         4.00000000e-01,  2.63419461e-01,  1.44262698e+01],
       [ 3.35795000e+01, -1.16806667e+02,  8.38000000e+00, ...,
         5.10000000e-01,  5.20000000e-02,  7.00000000e+00],
       [ 4.53681667e+01, -1.21805333e+02,  5.89000000e+00, ...,
         8.50000000e-01,  2.17833111e-01,  5.00000000e+00]])

In [13]:

df.fillna(df.drop(columns=['time','magType', 'id', 'updated','net', 'place', 'type', 'status', 'locationSource','magSource']).mean())

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-08-31T01:56:03.280Z,33.319167,-116.343667,9.64,1.37,ml,45.000000,36.000000,0.051670,0.24,...,2022-08-31T02:06:28.290Z,"8km NNE of Borrego Springs, CA",earthquake,0.27000,0.57,0.140000,27.00000,automatic,ci,ci
1,2022-08-31T01:47:49.260Z,33.041000,-116.402833,11.60,0.81,ml,20.000000,73.000000,0.120000,0.20,...,2022-08-31T01:51:18.828Z,"19km ESE of Julian, CA",earthquake,0.39000,1.23,0.069000,10.00000,automatic,ci,ci
2,2022-08-31T01:45:30.960Z,33.317000,-116.747000,14.06,0.56,ml,13.000000,108.000000,0.081400,0.12,...,2022-08-31T01:49:09.567Z,"8km N of Lake Henshaw, CA",earthquake,0.40000,0.81,0.099000,8.00000,automatic,ci,ci
3,2022-08-31T01:34:31.240Z,38.792999,-122.767830,2.35,0.84,md,15.000000,86.000000,0.009911,0.03,...,2022-08-31T02:05:15.944Z,"2km NNW of The Geysers, CA",earthquake,0.29000,0.61,0.200000,3.00000,automatic,nc,nc
4,2022-08-31T01:32:13.230Z,38.792499,-122.768501,2.37,0.79,md,20.000000,75.000000,0.010630,0.03,...,2022-08-31T01:54:13.870Z,"2km NNW of The Geysers, CA",earthquake,0.26000,0.48,0.240000,4.00000,automatic,nc,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9437,2022-08-01T02:18:40.130Z,33.797833,-116.124833,0.41,1.27,ml,12.000000,92.000000,0.080520,0.23,...,2022-08-02T17:06:34.975Z,"12km NE of Indio, CA",earthquake,0.41000,0.77,0.072000,6.00000,reviewed,ci,ci
9438,2022-08-01T02:18:29.010Z,33.794500,-116.120833,1.46,1.48,ml,47.000000,76.000000,0.083880,0.15,...,2022-08-02T16:55:35.289Z,"12km NE of Indio, CA",earthquake,0.16000,0.30,0.119000,26.00000,reviewed,ci,ci
9439,2022-08-01T02:14:31.758Z,61.236600,-147.643100,32.20,1.30,ml,22.864872,123.233648,0.592782,0.53,...,2022-08-01T02:20:57.929Z,"63 km S of Glacier View, Alaska",earthquake,1.65501,0.40,0.263419,14.42627,automatic,ak,ak
9440,2022-08-01T02:14:25.320Z,33.579500,-116.806667,8.38,0.41,ml,27.000000,64.000000,0.038250,0.17,...,2022-08-01T14:17:06.336Z,"13km WNW of Anza, CA",earthquake,0.22000,0.51,0.052000,7.00000,reviewed,ci,ci
9441,2022-08-01T02:11:49.020Z,45.368167,-121.805333,5.89,0.74,ml,7.000000,187.000000,0.044930,0.05,...,2022-08-01T22:56:47.290Z,"8 km NNW of Government Camp, Oregon",earthquake,0.37000,0.85,0.217833,5.00000,reviewed,uw,uw

In [14]:
df.fillna(df.drop(columns=['time','magType', 'id', 'updated','net', 'place', 'type', 'status', 'locationSource','magSource']).median())

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-08-31T01:56:03.280Z,33.319167,-116.343667,9.64,1.37,ml,45.0,36.0,0.051670,0.24,...,2022-08-31T02:06:28.290Z,"8km NNE of Borrego Springs, CA",earthquake,0.27,0.57,0.140000,27.0,automatic,ci,ci
1,2022-08-31T01:47:49.260Z,33.041000,-116.402833,11.60,0.81,ml,20.0,73.0,0.120000,0.20,...,2022-08-31T01:51:18.828Z,"19km ESE of Julian, CA",earthquake,0.39,1.23,0.069000,10.0,automatic,ci,ci
2,2022-08-31T01:45:30.960Z,33.317000,-116.747000,14.06,0.56,ml,13.0,108.0,0.081400,0.12,...,2022-08-31T01:49:09.567Z,"8km N of Lake Henshaw, CA",earthquake,0.40,0.81,0.099000,8.0,automatic,ci,ci
3,2022-08-31T01:34:31.240Z,38.792999,-122.767830,2.35,0.84,md,15.0,86.0,0.009911,0.03,...,2022-08-31T02:05:15.944Z,"2km NNW of The Geysers, CA",earthquake,0.29,0.61,0.200000,3.0,automatic,nc,nc
4,2022-08-31T01:32:13.230Z,38.792499,-122.768501,2.37,0.79,md,20.0,75.0,0.010630,0.03,...,2022-08-31T01:54:13.870Z,"2km NNW of The Geysers, CA",earthquake,0.26,0.48,0.240000,4.0,automatic,nc,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9437,2022-08-01T02:18:40.130Z,33.797833,-116.124833,0.41,1.27,ml,12.0,92.0,0.080520,0.23,...,2022-08-02T17:06:34.975Z,"12km NE of Indio, CA",earthquake,0.41,0.77,0.072000,6.0,reviewed,ci,ci
9438,2022-08-01T02:18:29.010Z,33.794500,-116.120833,1.46,1.48,ml,47.0,76.0,0.083880,0.15,...,2022-08-02T16:55:35.289Z,"12km NE of Indio, CA",earthquake,0.16,0.30,0.119000,26.0,reviewed,ci,ci
9439,2022-08-01T02:14:31.758Z,61.236600,-147.643100,32.20,1.30,ml,16.0,106.0,0.057590,0.53,...,2022-08-01T02:20:57.929Z,"63 km S of Glacier View, Alaska",earthquake,0.48,0.40,0.158000,7.0,automatic,ak,ak
9440,2022-08-01T02:14:25.320Z,33.579500,-116.806667,8.38,0.41,ml,27.0,64.0,0.038250,0.17,...,2022-08-01T14:17:06.336Z,"13km WNW of Anza, CA",earthquake,0.22,0.51,0.052000,7.0,reviewed,ci,ci
9441,2022-08-01T02:11:49.020Z,45.368167,-121.805333,5.89,0.74,ml,7.0,187.0,0.044930,0.05,...,2022-08-01T22:56:47.290Z,"8 km NNW of Government Camp, Oregon",earthquake,0.37,0.85,0.217833,5.0,reviewed,uw,uw

In [15]:
df2 = pd.read_csv("USA_cars_datasets.csv")

df2 = df2[:25]
df2 = df2.drop(columns=["Unnamed: 0","title_status", "condition", "vin", "lot", "state", "country"])
df2

    price      brand    model  year   mileage   color
0    6300     toyota  cruiser  2008  274117.0   black
1    2899       ford       se  2011  190552.0  silver
2    5350      dodge      mpv  2018   39590.0  silver
3   25000       ford     door  2014   64146.0    blue
4   27700  chevrolet     1500  2018    6654.0     red
5    5700      dodge      mpv  2018   45561.0   white
6    7300  chevrolet       pk  2010  149050.0   black
7   13350        gmc     door  2017   23525.0    gray
8   14600  chevrolet   malibu  2018    9371.0  silver
9    5250       ford      mpv  2017   63418.0   black
10  10400      dodge    coupe  2009  107856.0  orange
11  12920        gmc      mpv  2017   39650.0   white
12  31900  chevrolet     1500  2018   22909.0   black
13   5430   chrysler    wagon  2017  138650.0    gray
14  20700       ford     door  2013  100757.0   black
15  12710        gmc     door  2017   25747.0   white
16   5200        kia    forte  2018   46194.0    blue
17  16500      buick   encore  2018   20002.0     red
18   5210       ford      mpv  2017   35714.0   white
19  38100       ford     door  2013   54380.0    gray
20  12520        gmc     door  2017   30114.0   white
21   7300        kia    forte  2018   38823.0   black
22  15000  chevrolet     door  2015   61578.0   black
23   6180       ford      mpv  2017   46010.0    blue
24  20800       ford     door  2013  105510.0  silver

In [16]:

df.fillna(df.drop(columns=['time','magType', 'id', 'updated', 'place', 'type', 'status', 'locationSource','magSource']).mode())

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-08-31T01:56:03.280Z,33.319167,-116.343667,9.64,1.37,ml,45.0,36.0,0.051670,0.24,...,2022-08-31T02:06:28.290Z,"8km NNE of Borrego Springs, CA",earthquake,0.27,0.57,0.140000,27.0,automatic,ci,ci
1,2022-08-31T01:47:49.260Z,33.041000,-116.402833,11.60,0.81,ml,20.0,73.0,0.120000,0.20,...,2022-08-31T01:51:18.828Z,"19km ESE of Julian, CA",earthquake,0.39,1.23,0.069000,10.0,automatic,ci,ci
2,2022-08-31T01:45:30.960Z,33.317000,-116.747000,14.06,0.56,ml,13.0,108.0,0.081400,0.12,...,2022-08-31T01:49:09.567Z,"8km N of Lake Henshaw, CA",earthquake,0.40,0.81,0.099000,8.0,automatic,ci,ci
3,2022-08-31T01:34:31.240Z,38.792999,-122.767830,2.35,0.84,md,15.0,86.0,0.009911,0.03,...,2022-08-31T02:05:15.944Z,"2km NNW of The Geysers, CA",earthquake,0.29,0.61,0.200000,3.0,automatic,nc,nc
4,2022-08-31T01:32:13.230Z,38.792499,-122.768501,2.37,0.79,md,20.0,75.0,0.010630,0.03,...,2022-08-31T01:54:13.870Z,"2km NNW of The Geysers, CA",earthquake,0.26,0.48,0.240000,4.0,automatic,nc,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9437,2022-08-01T02:18:40.130Z,33.797833,-116.124833,0.41,1.27,ml,12.0,92.0,0.080520,0.23,...,2022-08-02T17:06:34.975Z,"12km NE of Indio, CA",earthquake,0.41,0.77,0.072000,6.0,reviewed,ci,ci
9438,2022-08-01T02:18:29.010Z,33.794500,-116.120833,1.46,1.48,ml,47.0,76.0,0.083880,0.15,...,2022-08-02T16:55:35.289Z,"12km NE of Indio, CA",earthquake,0.16,0.30,0.119000,26.0,reviewed,ci,ci
9439,2022-08-01T02:14:31.758Z,61.236600,-147.643100,32.20,1.30,ml,NaN,NaN,NaN,0.53,...,2022-08-01T02:20:57.929Z,"63 km S of Glacier View, Alaska",earthquake,NaN,0.40,NaN,NaN,automatic,ak,ak
9440,2022-08-01T02:14:25.320Z,33.579500,-116.806667,8.38,0.41,ml,27.0,64.0,0.038250,0.17,...,2022-08-01T14:17:06.336Z,"13km WNW of Anza, CA",earthquake,0.22,0.51,0.052000,7.0,reviewed,ci,ci
9441,2022-08-01T02:11:49.020Z,45.368167,-121.805333,5.89,0.74,ml,7.0,187.0,0.044930,0.05,...,2022-08-01T22:56:47.290Z,"8 km NNW of Government Camp, Oregon",earthquake,0.37,0.85,0.217833,5.0,reviewed,uw,uw

In [17]:

brand_map =  {'toyota': 0,
               'ford': 1,
               'dodge': 2,
               'chevrolet': 3,
               'gmc': 4,
               'chrysler': 5,
               'kia': 6,
               'buick':7
                 }

df2['brand'] = df2['brand'].map(brand_map)
df2

    price  brand    model  year   mileage   color
0    6300      0  cruiser  2008  274117.0   black
1    2899      1       se  2011  190552.0  silver
2    5350      2      mpv  2018   39590.0  silver
3   25000      1     door  2014   64146.0    blue
4   27700      3     1500  2018    6654.0     red
5    5700      2      mpv  2018   45561.0   white
6    7300      3       pk  2010  149050.0   black
7   13350      4     door  2017   23525.0    gray
8   14600      3   malibu  2018    9371.0  silver
9    5250      1      mpv  2017   63418.0   black
10  10400      2    coupe  2009  107856.0  orange
11  12920      4      mpv  2017   39650.0   white
12  31900      3     1500  2018   22909.0   black
13   5430      5    wagon  2017  138650.0    gray
14  20700      1     door  2013  100757.0   black
15  12710      4     door  2017   25747.0   white
16   5200      6    forte  2018   46194.0    blue
17  16500      7   encore  2018   20002.0     red
18   5210      1      mpv  2017   35714.0   white
19  38100      1     door  2013   54380.0    gray
20  12520      4     door  2017   30114.0   white
21   7300      6    forte  2018   38823.0   black
22  15000      3     door  2015   61578.0   black
23   6180      1      mpv  2017   46010.0    blue
24  20800      1     door  2013  105510.0  silver

In [18]:

inv_brand_map = {v: k for k, v in brand_map.items()}
df2['brand'].map(inv_brand_map)

0        toyota
1          ford
2         dodge
3          ford
4     chevrolet
5         dodge
6     chevrolet
7           gmc
8     chevrolet
9          ford
10        dodge
11          gmc
12    chevrolet
13     chrysler
14         ford
15          gmc
16          kia
17        buick
18         ford
19         ford
20          gmc
21          kia
22    chevrolet
23         ford
24         ford
Name: brand, dtype: object

In [19]:
import numpy as np


model_mapping = {label: idx for idx, label in enumerate(np.unique(df2['model']))}
model_mapping

{'1500': 0,
 'coupe': 1,
 'cruiser': 2,
 'door': 3,
 'encore': 4,
 'forte': 5,
 'malibu': 6,
 'mpv': 7,
 'pk': 8,
 'se': 9,
 'wagon': 10}

In [81]:
# to convert model from strings to integers
df2['model'] = df2['model'].map(model_mapping)
df2

    price  brand  model  year   mileage   color
0    6300      0      2  2008  274117.0   black
1    2899      1      9  2011  190552.0  silver
2    5350      2      7  2018   39590.0  silver
3   25000      1      3  2014   64146.0    blue
4   27700      3      0  2018    6654.0     red
5    5700      2      7  2018   45561.0   white
6    7300      3      8  2010  149050.0   black
7   13350      4      3  2017   23525.0    gray
8   14600      3      6  2018    9371.0  silver
9    5250      1      7  2017   63418.0   black
10  10400      2      1  2009  107856.0  orange
11  12920      4      7  2017   39650.0   white
12  31900      3      0  2018   22909.0   black
13   5430      5     10  2017  138650.0    gray
14  20700      1      3  2013  100757.0   black
15  12710      4      3  2017   25747.0   white
16   5200      6      5  2018   46194.0    blue
17  16500      7      4  2018   20002.0     red
18   5210      1      7  2017   35714.0   white
19  38100      1      3  2013   54380.0    gray
20  12520      4      3  2017   30114.0   white
21   7300      6      5  2018   38823.0   black
22  15000      3      3  2015   61578.0   black
23   6180      1      7  2017   46010.0    blue
24  20800      1      3  2013  105510.0  silver

In [82]:

inv_model_mapping = {v: k for k, v in model_mapping.items()}
df2['model'] = df2['model'].map(inv_model_mapping)
df2

    price  brand    model  year   mileage   color
0    6300      0  cruiser  2008  274117.0   black
1    2899      1       se  2011  190552.0  silver
2    5350      2      mpv  2018   39590.0  silver
3   25000      1     door  2014   64146.0    blue
4   27700      3     1500  2018    6654.0     red
5    5700      2      mpv  2018   45561.0   white
6    7300      3       pk  2010  149050.0   black
7   13350      4     door  2017   23525.0    gray
8   14600      3   malibu  2018    9371.0  silver
9    5250      1      mpv  2017   63418.0   black
10  10400      2    coupe  2009  107856.0  orange
11  12920      4      mpv  2017   39650.0   white
12  31900      3     1500  2018   22909.0   black
13   5430      5    wagon  2017  138650.0    gray
14  20700      1     door  2013  100757.0   black
15  12710      4     door  2017   25747.0   white
16   5200      6    forte  2018   46194.0    blue
17  16500      7   encore  2018   20002.0     red
18   5210      1      mpv  2017   35714.0   white
19  38100      1     door  2013   54380.0    gray
20  12520      4     door  2017   30114.0   white
21   7300      6    forte  2018   38823.0   black
22  15000      3     door  2015   61578.0   black
23   6180      1      mpv  2017   46010.0    blue
24  20800      1     door  2013  105510.0  silver

In [83]:
from sklearn.preprocessing import LabelEncoder

model_en = LabelEncoder()
y = model_en.fit_transform(df2['model'].values)
y

array([ 2,  9,  7,  3,  0,  7,  8,  3,  6,  7,  1,  7,  0, 10,  3,  3,  5,
        4,  7,  3,  3,  5,  3,  7,  3])

In [84]:

model_en.inverse_transform(y)

array(['cruiser', 'se', 'mpv', 'door', '1500', 'mpv', 'pk', 'door',
       'malibu', 'mpv', 'coupe', 'mpv', '1500', 'wagon', 'door', 'door',
       'forte', 'encore', 'mpv', 'door', 'door', 'forte', 'door', 'mpv',
       'door'], dtype=object)

In [85]:
# encode the color with brand and price
X = df2[['color', 'brand', 'price']].values
color_en = LabelEncoder()
X[:, 0] = color_en.fit_transform(X[:, 0])
X

array([[0, 0, 6300],
       [5, 1, 2899],
       [5, 2, 5350],
       [1, 1, 25000],
       [4, 3, 27700],
       [6, 2, 5700],
       [0, 3, 7300],
       [2, 4, 13350],
       [5, 3, 14600],
       [0, 1, 5250],
       [3, 2, 10400],
       [6, 4, 12920],
       [0, 3, 31900],
       [2, 5, 5430],
       [0, 1, 20700],
       [6, 4, 12710],
       [1, 6, 5200],
       [4, 7, 16500],
       [6, 1, 5210],
       [2, 1, 38100],
       [6, 4, 12520],
       [0, 6, 7300],
       [0, 3, 15000],
       [1, 1, 6180],
       [5, 1, 20800]], dtype=object)

In [86]:
from sklearn.preprocessing import OneHotEncoder

X = df2[['color', 'brand', 'price']].values
color_ohe = OneHotEncoder()
color_ohe.fit_transform(X[:, 0].reshape(-1,1)).toarray()

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.]])

In [87]:
from sklearn.compose import ColumnTransformer

X = df2[['color', 'brand', 'price']].values
c_transf = ColumnTransformer([('onehot', OneHotEncoder(), [0]),
                             ('nothing', 'passthrough', [1, 2])])
c_transf.fit_transform(X).astype(int)

array([[    1,     0,     0,     0,     0,     0,     0,     0,  6300],
       [    0,     0,     0,     0,     0,     1,     0,     1,  2899],
       [    0,     0,     0,     0,     0,     1,     0,     2,  5350],
       [    0,     1,     0,     0,     0,     0,     0,     1, 25000],
       [    0,     0,     0,     0,     1,     0,     0,     3, 27700],
       [    0,     0,     0,     0,     0,     0,     1,     2,  5700],
       [    1,     0,     0,     0,     0,     0,     0,     3,  7300],
       [    0,     0,     1,     0,     0,     0,     0,     4, 13350],
       [    0,     0,     0,     0,     0,     1,     0,     3, 14600],
       [    1,     0,     0,     0,     0,     0,     0,     1,  5250],
       [    0,     0,     0,     1,     0,     0,     0,     2, 10400],
       [    0,     0,     0,     0,     0,     0,     1,     4, 12920],
       [    1,     0,     0,     0,     0,     0,     0,     3, 31900],
       [    0,     0,     1,     0,     0,     0,     0,     5,  5430],
       [    1,     0,     0,     0,     0,     0,     0,     1, 20700],
       [    0,     0,     0,     0,     0,     0,     1,     4, 12710],
       [    0,     1,     0,     0,     0,     0,     0,     6,  5200],
       [    0,     0,     0,     0,     1,     0,     0,     7, 16500],
       [    0,     0,     0,     0,     0,     0,     1,     1,  5210],
       [    0,     0,     1,     0,     0,     0,     0,     1, 38100],
       [    0,     0,     0,     0,     0,     0,     1,     4, 12520],
       [    1,     0,     0,     0,     0,     0,     0,     6,  7300],
       [    1,     0,     0,     0,     0,     0,     0,     3, 15000],
       [    0,     1,     0,     0,     0,     0,     0,     1,  6180],
       [    0,     0,     0,     0,     0,     1,     0,     1, 20800]])

In [88]:
pd.get_dummies(df2[['color', 'brand', 'price']])

,brand,price,color_black,color_blue,color_gray,color_orange,color_red,color_silver,color_white
0,0,6300,1,0,0,0,0,0,0
1,1,2899,0,0,0,0,0,1,0
2,2,5350,0,0,0,0,0,1,0
3,1,25000,0,1,0,0,0,0,0
4,3,27700,0,0,0,0,1,0,0
5,2,5700,0,0,0,0,0,0,1
6,3,7300,1,0,0,0,0,0,0
7,4,13350,0,0,1,0,0,0,0
8,3,14600,0,0,0,0,0,1,0
9,1,5250,1,0,0,0,0,0,0
10,2,10400,0,0,0,1,0,0,0
11,4,12920,0,0,0,0,0,0,1
12,3,31900,1,0,0,0,0,0,0
13,5,5430,0,0,1,0,0,0,0
14,1,20700,1,0,0,0,0,0,0
15,4,12710,0,0,0,0,0,0,1
16,6,5200,0,1,0,0,0,0,0
17,7,16500,0,0,0,0,1,0,0
18,1,5210,0,0,0,0,0,0,1
19,1,38100,0,0,1,0,0,0,0
20,4,12520,0,0,0,0,0,0,1
21,6,7300,1,0,0,0,0,0,0
22,3,15000,1,0,0,0,0,0,0
23,1,6180,0,1,0,0,0,0,0
24,1,20800,0,0,0,0,0,1,0

In [89]:
pd.get_dummies(df2[['color', 'brand', 'price']], drop_first=True)

,brand,price,color_blue,color_gray,color_orange,color_red,color_silver,color_white
0,0,6300,0,0,0,0,0,0
1,1,2899,0,0,0,0,1,0
2,2,5350,0,0,0,0,1,0
3,1,25000,1,0,0,0,0,0
4,3,27700,0,0,0,1,0,0
5,2,5700,0,0,0,0,0,1
6,3,7300,0,0,0,0,0,0
7,4,13350,0,1,0,0,0,0
8,3,14600,0,0,0,0,1,0
9,1,5250,0,0,0,0,0,0
10,2,10400,0,0,1,0,0,0
11,4,12920,0,0,0,0,0,1
12,3,31900,0,0,0,0,0,0
13,5,5430,0,1,0,0,0,0
14,1,20700,0,0,0,0,0,0
15,4,12710,0,0,0,0,0,1
16,6,5200,1,0,0,0,0,0
17,7,16500,0,0,0,1,0,0
18,1,5210,0,0,0,0,0,1
19,1,38100,0,1,0,0,0,0
20,4,12520,0,0,0,0,0,1
21,6,7300,0,0,0,0,0,0
22,3,15000,0,0,0,0,0,0
23,1,6180,1,0,0,0,0,0
24,1,20800,0,0,0,0,1,0

In [90]:
brand_ohe = OneHotEncoder(categories='auto', drop='first')
c_transf = ColumnTransformer([('onehot', brand_ohe, [0]),
                             ('nothing', 'passthrough', [1, 2])])
c_transf.fit_transform(X).astype(int)

array([[    0,     0,     0,     0,     0,     0,     0,  6300],
       [    0,     0,     0,     0,     1,     0,     1,  2899],
       [    0,     0,     0,     0,     1,     0,     2,  5350],
       [    1,     0,     0,     0,     0,     0,     1, 25000],
       [    0,     0,     0,     1,     0,     0,     3, 27700],
       [    0,     0,     0,     0,     0,     1,     2,  5700],
       [    0,     0,     0,     0,     0,     0,     3,  7300],
       [    0,     1,     0,     0,     0,     0,     4, 13350],
       [    0,     0,     0,     0,     1,     0,     3, 14600],
       [    0,     0,     0,     0,     0,     0,     1,  5250],
       [    0,     0,     1,     0,     0,     0,     2, 10400],
       [    0,     0,     0,     0,     0,     1,     4, 12920],
       [    0,     0,     0,     0,     0,     0,     3, 31900],
       [    0,     1,     0,     0,     0,     0,     5,  5430],
       [    0,     0,     0,     0,     0,     0,     1, 20700],
       [    0,     0,     0,     0,     0,     1,     4, 12710],
       [    1,     0,     0,     0,     0,     0,     6,  5200],
       [    0,     0,     0,     1,     0,     0,     7, 16500],
       [    0,     0,     0,     0,     0,     1,     1,  5210],
       [    0,     1,     0,     0,     0,     0,     1, 38100],
       [    0,     0,     0,     0,     0,     1,     4, 12520],
       [    0,     0,     0,     0,     0,     0,     6,  7300],
       [    0,     0,     0,     0,     0,     0,     3, 15000],
       [    1,     0,     0,     0,     0,     0,     1,  6180],
       [    0,     0,     0,     0,     1,     0,     1, 20800]])

In [155]:
# mapping region from string to integer
status_mapping = {label: idx for idx, label in enumerate(np.unique(df['status']))}
df['status'] = df['status'].map(status_mapping)

# drop unneeded column and fill the NaN data with mean
X = df.drop(columns=['time','magType','net', 'id', 'updated', 'place', 'type', 'locationSource','magSource'])
df_clean = X.fillna(X.mean())
df_clean

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst,status
0,33.319167,-116.343667,9.64,1.37,45.000000,36.000000,0.051670,0.24,0.27000,0.57,0.140000,27.00000,0
1,33.041000,-116.402833,11.60,0.81,20.000000,73.000000,0.120000,0.20,0.39000,1.23,0.069000,10.00000,0
2,33.317000,-116.747000,14.06,0.56,13.000000,108.000000,0.081400,0.12,0.40000,0.81,0.099000,8.00000,0
3,38.792999,-122.767830,2.35,0.84,15.000000,86.000000,0.009911,0.03,0.29000,0.61,0.200000,3.00000,0
4,38.792499,-122.768501,2.37,0.79,20.000000,75.000000,0.010630,0.03,0.26000,0.48,0.240000,4.00000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9437,33.797833,-116.124833,0.41,1.27,12.000000,92.000000,0.080520,0.23,0.41000,0.77,0.072000,6.00000,1
9438,33.794500,-116.120833,1.46,1.48,47.000000,76.000000,0.083880,0.15,0.16000,0.30,0.119000,26.00000,1
9439,61.236600,-147.643100,32.20,1.30,22.864872,123.233648,0.592782,0.53,1.65501,0.40,0.263419,14.42627,0
9440,33.579500,-116.806667,8.38,0.41,27.000000,64.000000,0.038250,0.17,0.22000,0.51,0.052000,7.00000,1
9441,45.368167,-121.805333,5.89,0.74,7.000000,187.000000,0.044930,0.05,0.37000,0.85,0.217833,5.00000,1

In [26]:
df3 = pd.read_csv("IRIS.csv")
df3

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [27]:
X = df3.iloc[:,[2,3]].values
X

array([[1.4, 0.2],
       [1.4, 0.2],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.7, 0.4],
       [1.4, 0.3],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.5, 0.1],
       [1.5, 0.2],
       [1.6, 0.2],
       [1.4, 0.1],
       [1.1, 0.1],
       [1.2, 0.2],
       [1.5, 0.4],
       [1.3, 0.4],
       [1.4, 0.3],
       [1.7, 0.3],
       [1.5, 0.3],
       [1.7, 0.2],
       [1.5, 0.4],
       [1. , 0.2],
       [1.7, 0.5],
       [1.9, 0.2],
       [1.6, 0.2],
       [1.6, 0.4],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.6, 0.2],
       [1.6, 0.2],
       [1.5, 0.4],
       [1.5, 0.1],
       [1.4, 0.2],
       [1.5, 0.1],
       [1.2, 0.2],
       [1.3, 0.2],
       [1.5, 0.1],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.3, 0.3],
       [1.3, 0.3],
       [1.3, 0.2],
       [1.6, 0.6],
       [1.9, 0.4],
       [1.4, 0.3],
       [1.6, 0.2],
       [1.4, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [4.7, 1.4],
       [4.5, 1.5],
       [4.9, 1.5],
       [4. , 1.3],
       [4.6, 1.5],
       [4.5, 1.3],
       [4.7, 1.6],
       [3.3, 1. ],
       [4.6, 1.3],
       [3.9, 1.4],
       [3.5, 1. ],
       [4.2, 1.5],
       [4. , 1. ],
       [4.7, 1.4],
       [3.6, 1.3],
       [4.4, 1.4],
       [4.5, 1.5],
       [4.1, 1. ],
       [4.5, 1.5],
       [3.9, 1.1],
       [4.8, 1.8],
       [4. , 1.3],
       [4.9, 1.5],
       [4.7, 1.2],
       [4.3, 1.3],
       [4.4, 1.4],
       [4.8, 1.4],
       [5. , 1.7],
       [4.5, 1.5],
       [3.5, 1. ],
       [3.8, 1.1],
       [3.7, 1. ],
       [3.9, 1.2],
       [5.1, 1.6],
       [4.5, 1.5],
       [4.5, 1.6],
       [4.7, 1.5],
       [4.4, 1.3],
       [4.1, 1.3],
       [4. , 1.3],
       [4.4, 1.2],
       [4.6, 1.4],
       [4. , 1.2],
       [3.3, 1. ],
       [4.2, 1.3],
       [4.2, 1.2],
       [4.2, 1.3],
       [4.3, 1.3],
       [3. , 1.1],
       [4.1, 1.3],
       [6. , 2.5],
       [5.1, 1.9],
       [5.9, 2.1],
       [5.6, 1.8],
       [5.8, 2.2],
       [6.6, 2.1],
       [4.5, 1.7],
       [6.3, 1.8],
       [5.8, 1.8],
       [6.1, 2.5],
       [5.1, 2. ],
       [5.3, 1.9],
       [5.5, 2.1],
       [5. , 2. ],
       [5.1, 2.4],
       [5.3, 2.3],
       [5.5, 1.8],
       [6.7, 2.2],
       [6.9, 2.3],
       [5. , 1.5],
       [5.7, 2.3],
       [4.9, 2. ],
       [6.7, 2. ],
       [4.9, 1.8],
       [5.7, 2.1],
       [6. , 1.8],
       [4.8, 1.8],
       [4.9, 1.8],
       [5.6, 2.1],
       [5.8, 1.6],
       [6.1, 1.9],
       [6.4, 2. ],
       [5.6, 2.2],
       [5.1, 1.5],
       [5.6, 1.4],
       [6.1, 2.3],
       [5.6, 2.4],
       [5.5, 1.8],
       [4.8, 1.8],
       [5.4, 2.1],
       [5.6, 2.4],
       [5.1, 2.3],
       [5.1, 1.9],
       [5.9, 2.3],
       [5.7, 2.5],
       [5.2, 2.3],
       [5. , 1.9],
       [5.2, 2. ],
       [5.4, 2.3],
       [5.1, 1.8]])

In [28]:
y = df3.iloc[:,4].values
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le = le.fit(y)
y = le.transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [29]:
X.shape, y.shape

((150, 2), (150,))

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [24]:
from sklearn.preprocessing import MinMaxScaler

# Using Min-Max Scaler to normalize data
mms = MinMaxScaler()
X_train_norm = mms.fit_transform(X_train)
X_test_norm = mms.transform(X_test)

NameError: name 'X_train' is not defined

In [182]:
# X_train after normalization
X_train_norm

array([[0.06779661, 0.04166667],
       [0.11864407, 0.04166667],
       [0.72881356, 0.91666667],
       [0.79661017, 0.83333333],
       [0.03389831, 0.04166667],
       [0.77966102, 0.95833333],
       [0.94915254, 0.83333333],
       [0.03389831, 0.04166667],
       [0.81355932, 0.625     ],
       [0.61016949, 0.5       ],
       [0.38983051, 0.375     ],
       [0.49152542, 0.54166667],
       [0.05084746, 0.04166667],
       [0.62711864, 0.45833333],
       [0.50847458, 0.5       ],
       [0.69491525, 0.75      ],
       [0.15254237, 0.04166667],
       [0.42372881, 0.375     ],
       [0.49152542, 0.45833333],
       [0.10169492, 0.04166667],
       [0.6440678 , 0.70833333],
       [1.        , 0.91666667],
       [0.59322034, 0.58333333],
       [0.59322034, 0.5       ],
       [0.47457627, 0.41666667],
       [0.77966102, 0.95833333],
       [0.62711864, 0.54166667],
       [0.77966102, 0.54166667],
       [0.81355932, 0.875     ],
       [0.69491525, 0.95833333],
       [0.52542373, 0.5       ],
       [0.08474576, 0.125     ],
       [0.96610169, 0.875     ],
       [0.6779661 , 0.75      ],
       [0.6440678 , 0.70833333],
       [0.77966102, 0.83333333],
       [0.54237288, 0.58333333],
       [0.96610169, 0.79166667],
       [0.76271186, 0.70833333],
       [0.10169492, 0.04166667],
       [0.66101695, 0.70833333],
       [0.06779661, 0.04166667],
       [0.69491525, 0.58333333],
       [0.15254237, 0.125     ],
       [0.        , 0.04166667],
       [0.66101695, 0.58333333],
       [0.08474576, 0.        ],
       [0.01694915, 0.        ],
       [0.76271186, 0.70833333],
       [0.62711864, 0.58333333],
       [0.11864407, 0.08333333],
       [0.42372881, 0.375     ],
       [0.52542373, 0.375     ],
       [0.08474576, 0.04166667],
       [0.08474576, 0.04166667],
       [0.08474576, 0.04166667],
       [0.45762712, 0.375     ],
       [0.86440678, 1.        ],
       [0.05084746, 0.08333333],
       [0.66101695, 0.58333333],
       [0.05084746, 0.04166667],
       [0.59322034, 0.625     ],
       [0.84745763, 0.70833333],
       [0.10169492, 0.04166667],
       [0.06779661, 0.04166667],
       [0.57627119, 0.45833333],
       [0.69491525, 0.75      ],
       [0.44067797, 0.5       ],
       [0.52542373, 0.5       ],
       [0.6440678 , 0.70833333],
       [0.86440678, 0.91666667],
       [0.59322034, 0.58333333],
       [0.59322034, 0.58333333],
       [0.74576271, 0.83333333],
       [0.77966102, 0.875     ],
       [0.61016949, 0.54166667],
       [0.08474576, 0.125     ],
       [0.11864407, 0.16666667],
       [0.86440678, 0.75      ],
       [0.69491525, 0.625     ],
       [0.91525424, 0.79166667],
       [0.6779661 , 0.58333333],
       [0.08474576, 0.04166667],
       [0.54237288, 0.5       ],
       [0.69491525, 0.79166667],
       [0.84745763, 1.        ],
       [0.08474576, 0.08333333],
       [0.06779661, 0.04166667],
       [0.77966102, 0.70833333],
       [0.06779661, 0.08333333],
       [0.83050847, 0.91666667],
       [0.49152542, 0.41666667],
       [0.54237288, 0.45833333],
       [0.55932203, 0.5       ],
       [0.08474576, 0.        ],
       [0.71186441, 0.91666667],
       [0.57627119, 0.5       ],
       [0.05084746, 0.04166667],
       [0.06779661, 0.08333333],
       [0.6779661 , 0.66666667],
       [0.05084746, 0.08333333],
       [0.50847458, 0.45833333],
       [0.10169492, 0.125     ],
       [0.08474576, 0.04166667],
       [0.05084746, 0.04166667]])

In [183]:
# X_test after normalization
X_test_norm

array([[0.74576271, 0.91666667],
       [0.11864407, 0.125     ],
       [0.06779661, 0.08333333],
       [0.59322034, 0.66666667],
       [0.57627119, 0.54166667],
       [0.50847458, 0.5       ],
       [0.81355932, 0.70833333],
       [0.59322034, 0.58333333],
       [0.72881356, 0.75      ],
       [0.05084746, 0.125     ],
       [0.08474576, 0.125     ],
       [0.66101695, 0.70833333],
       [0.06779661, 0.04166667],
       [0.38983051, 0.375     ],
       [0.06779661, 0.04166667],
       [0.6440678 , 0.54166667],
       [0.69491525, 0.91666667],
       [0.59322034, 0.58333333],
       [0.55932203, 0.5       ],
       [0.71186441, 0.79166667],
       [0.83050847, 0.83333333],
       [0.06779661, 0.        ],
       [0.57627119, 0.54166667],
       [0.66101695, 0.79166667],
       [0.54237288, 0.5       ],
       [0.62711864, 0.625     ],
       [0.33898305, 0.41666667],
       [0.79661017, 1.        ],
       [0.10169492, 0.20833333],
       [0.6779661 , 0.79166667],
       [0.10169492, 0.04166667],
       [0.06779661, 0.04166667],
       [0.50847458, 0.375     ],
       [0.50847458, 0.5       ],
       [0.89830508, 0.70833333],
       [0.76271186, 0.83333333],
       [0.08474576, 0.        ],
       [0.10169492, 0.04166667],
       [0.06779661, 0.04166667],
       [0.62711864, 0.54166667],
       [0.79661017, 0.91666667],
       [0.69491525, 0.70833333],
       [0.61016949, 0.58333333],
       [0.08474576, 0.04166667],
       [0.08474576, 0.        ]])

In [185]:
from sklearn.preprocessing import StandardScaler

# Using standard scaler to standarized data
stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)

In [187]:
# X_train after standardization
X_train_std

array([[-1.33269725, -1.30380366],
       [-1.16537974, -1.30380366],
       [ 0.84243039,  1.44465434],
       [ 1.0655204 ,  1.18289644],
       [-1.44424226, -1.30380366],
       [ 1.0097479 ,  1.57553329],
       [ 1.56747294,  1.18289644],
       [-1.44424226, -1.30380366],
       [ 1.12129291,  0.52850167],
       [ 0.45202286,  0.13586482],
       [-0.27301968, -0.25677204],
       [ 0.06161534,  0.26674377],
       [-1.38846976, -1.30380366],
       [ 0.50779537,  0.00498586],
       [ 0.11738784,  0.13586482],
       [ 0.73088538,  0.92113853],
       [-1.05383474, -1.30380366],
       [-0.16147468, -0.25677204],
       [ 0.06161534,  0.00498586],
       [-1.22115225, -1.30380366],
       [ 0.56356787,  0.79025958],
       [ 1.73479045,  1.44465434],
       [ 0.39625036,  0.39762272],
       [ 0.39625036,  0.13586482],
       [ 0.00584283, -0.12589309],
       [ 1.0097479 ,  1.57553329],
       [ 0.50779537,  0.26674377],
       [ 1.0097479 ,  0.26674377],
       [ 1.12129291,  1.31377539],
       [ 0.73088538,  1.57553329],
       [ 0.17316034,  0.13586482],
       [-1.27692475, -1.04204575],
       [ 1.62324544,  1.31377539],
       [ 0.67511288,  0.92113853],
       [ 0.56356787,  0.79025958],
       [ 1.0097479 ,  1.18289644],
       [ 0.22893285,  0.39762272],
       [ 1.62324544,  1.05201748],
       [ 0.9539754 ,  0.79025958],
       [-1.22115225, -1.30380366],
       [ 0.61934037,  0.79025958],
       [-1.33269725, -1.30380366],
       [ 0.73088538,  0.39762272],
       [-1.05383474, -1.04204575],
       [-1.55578727, -1.30380366],
       [ 0.61934037,  0.39762272],
       [-1.27692475, -1.43468261],
       [-1.50001477, -1.43468261],
       [ 0.9539754 ,  0.79025958],
       [ 0.50779537,  0.39762272],
       [-1.16537974, -1.17292471],
       [-0.16147468, -0.25677204],
       [ 0.17316034, -0.25677204],
       [-1.27692475, -1.30380366],
       [-1.27692475, -1.30380366],
       [-1.27692475, -1.30380366],
       [-0.04992967, -0.25677204],
       [ 1.28861042,  1.70641225],
       [-1.38846976, -1.17292471],
       [ 0.61934037,  0.39762272],
       [-1.38846976, -1.30380366],
       [ 0.39625036,  0.52850167],
       [ 1.23283791,  0.79025958],
       [-1.22115225, -1.30380366],
       [-1.33269725, -1.30380366],
       [ 0.34047786,  0.00498586],
       [ 0.73088538,  0.92113853],
       [-0.10570217,  0.13586482],
       [ 0.17316034,  0.13586482],
       [ 0.56356787,  0.79025958],
       [ 1.28861042,  1.44465434],
       [ 0.39625036,  0.39762272],
       [ 0.39625036,  0.39762272],
       [ 0.89820289,  1.18289644],
       [ 1.0097479 ,  1.31377539],
       [ 0.45202286,  0.26674377],
       [-1.27692475, -1.04204575],
       [-1.16537974, -0.9111668 ],
       [ 1.28861042,  0.92113853],
       [ 0.73088538,  0.52850167],
       [ 1.45592793,  1.05201748],
       [ 0.67511288,  0.39762272],
       [-1.27692475, -1.30380366],
       [ 0.22893285,  0.13586482],
       [ 0.73088538,  1.05201748],
       [ 1.23283791,  1.70641225],
       [-1.27692475, -1.17292471],
       [-1.33269725, -1.30380366],
       [ 1.0097479 ,  0.79025958],
       [-1.33269725, -1.17292471],
       [ 1.17706541,  1.44465434],
       [ 0.06161534, -0.12589309],
       [ 0.22893285,  0.00498586],
       [ 0.28470535,  0.13586482],
       [-1.27692475, -1.43468261],
       [ 0.78665788,  1.44465434],
       [ 0.34047786,  0.13586482],
       [-1.38846976, -1.30380366],
       [-1.33269725, -1.17292471],
       [ 0.67511288,  0.65938063],
       [-1.38846976, -1.17292471],
       [ 0.11738784,  0.00498586],
       [-1.22115225, -1.04204575],
       [-1.27692475, -1.30380366],
       [-1.38846976, -1.30380366]])

In [188]:
# X_test after standardization
X_test_std

array([[ 0.89820289,  1.44465434],
       [-1.16537974, -1.04204575],
       [-1.33269725, -1.17292471],
       [ 0.39625036,  0.65938063],
       [ 0.34047786,  0.26674377],
       [ 0.11738784,  0.13586482],
       [ 1.12129291,  0.79025958],
       [ 0.39625036,  0.39762272],
       [ 0.84243039,  0.92113853],
       [-1.38846976, -1.04204575],
       [-1.27692475, -1.04204575],
       [ 0.61934037,  0.79025958],
       [-1.33269725, -1.30380366],
       [-0.27301968, -0.25677204],
       [-1.33269725, -1.30380366],
       [ 0.56356787,  0.26674377],
       [ 0.73088538,  1.44465434],
       [ 0.39625036,  0.39762272],
       [ 0.28470535,  0.13586482],
       [ 0.78665788,  1.05201748],
       [ 1.17706541,  1.18289644],
       [-1.33269725, -1.43468261],
       [ 0.34047786,  0.26674377],
       [ 0.61934037,  1.05201748],
       [ 0.22893285,  0.13586482],
       [ 0.50779537,  0.52850167],
       [-0.4403372 , -0.12589309],
       [ 1.0655204 ,  1.70641225],
       [-1.22115225, -0.78028785],
       [ 0.67511288,  1.05201748],
       [-1.22115225, -1.30380366],
       [-1.33269725, -1.30380366],
       [ 0.11738784, -0.25677204],
       [ 0.11738784,  0.13586482],
       [ 1.40015543,  0.79025958],
       [ 0.9539754 ,  1.18289644],
       [-1.27692475, -1.43468261],
       [-1.22115225, -1.30380366],
       [-1.33269725, -1.30380366],
       [ 0.50779537,  0.26674377],
       [ 1.0655204 ,  1.44465434],
       [ 0.73088538,  0.79025958],
       [ 0.45202286,  0.39762272],
       [-1.27692475, -1.30380366],
       [-1.27692475, -1.43468261]])

In [189]:
# Example of standarization and normalization (without Min-Max Scaler, etc.)
ex = np.array([0, 1, 2, 3, 4, 5])

# standarize
print('standarized:', (ex - ex.mean()) / ex.std())

# normalize
print('normalized:', (ex - ex.min()) / (ex.max() - ex.min()))

standarized: [-1.46385011 -0.87831007 -0.29277002  0.29277002  0.87831007  1.46385011]
normalized: [0.  0.2 0.4 0.6 0.8 1. ]

### Kesimpulan



Berikan simpulan yang dilakukan dari hasil kerja menggunakan algoritma dan 3 dataset yang
dipilih. Simpulan bisa berkisar antara (bisa di modifikasi):

    - Dataset yang digunakan adalah Earthquake, US Cars Dataset, dan Iris Flower Dataset. Saya menggunakan dataset ke3 karena dataset Earthquake mengalami error ketika di train_test_split
    - Pada percobaan kali ini, saya diajarkan data preprocessing yang bertujuan untuk merapikan data
    - Earthquake dan Iris Flower Dataset sebagai numerical dataset, dan US Cars Dataset sebagai categorical dataset
    - Pada dataset Earthquake terdapat juga categorical datam sehingga kita dapat melakukan pembersihan, bisa menghapus row, menghapus column, menghapus dengan treshold, menghapus attribute dengan ketentuan.
    - Di dataset itu juga terdapat NaN value yang dapat diisi dengan mean, median, atau modus.
    - Pada US Cars dataset, kita dapat melakukan data labeling, dengan cara dictionary secara manual, dengan loop, dengan LabelEncoder(), atau dengan OneShotEncoder()
    - Pada Iris Flower Dataset saya melakukan normalisasi dengan train_test_split lalu memakai MinMaxScaler() dan standarisasi dengan StandardScaler.

In [190]:
# Footer
myDate = datetime.datetime.now()
print("I certify that this is my own work.")
print("Signed by:")
print("Name: \t{}".format(myName))
print("NIM: \t{}".format(myNIM))
print("Time-stamp:\t{}".format(myDate))

I certify that this is my own work.
Signed by:
Name: 	Fernando Khorasani
NIM: 	43088
Time-stamp:	2022-09-06 22:52:04.825803

***

### Save the notebook, then convert the notebook to html (by running the next code).

In [191]:
!jupyter nbconvert --to html "./FernandoKhorasani_43088_IF540_B_Week2.ipynb" --output-dir="./"

[NbConvertApp] Converting notebook ./FernandoKhorasani_43088_IF540_B_Week2.ipynb to html
[NbConvertApp] Writing 737526 bytes to FernandoKhorasani_43088_IF540_B_Week2.html

### Next step:
* convert the generated html file to PDF using the online tool: https://www.sejda.com/html-to-pdf
* choose the following settings:
    * Page size: One long page
    * Page Orientation: auto
    * Use print stylesheet
* Submit your ipython notebook and PDF files

Markdown basics https://markdown-guide.readthedocs.io/en/latest/basics.html#